@model eDrugs.ApplicationCore.DrugMfgInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DrugMfgInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Drug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Drug.GenericName)
        </dd><dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfDrugs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfDrugs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mrp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mrp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MfgDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MfgDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
